
body {
    background-color: lightblue;
    font-family:  Verdana, sans-serif;
}

h1 {
    color: darkblue;
    text-align: center;
}

div {
    margin: 15px;
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 5px;
    background-color: white;
}
div.wopyu {
    background-color: lightyellow;
}